python=3.12
pandas
scipy
numpy
pysam
matplotlib
seaborn
rpy2
mygene
subread
r-base
bioconductor-deseq2
bioconductor-enhancedvolcano
r-ggplot2
r-svglite
r-argparse
scikit-learn
imbalanced-learn
r-data.table
bioconductor-edger
bioconductor-apeglm
bioconductor-ihw
bioconductor-sva
r-readr
r-dplyr
r-tidyverse
r-ggbeeswarm
r-stringr
r-ggrastr
r-msigdbr
bioconductor-fgsea
